/*Universal Styles*/
html {
  font-size: 16px;
}

body {
  margin: 0; /*for fixed header*/
}

h1 {
font-size: 2.5rem;
font-family: 'Montserrat', sans-serif;
color: #4A4A4A;
}

h2 {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #4a4a4a;
}

h3 {
  font-size: 1.125rem;
  font-family: "Catamaran", san-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #4a4a4a;
}

p {
  font-size: 1rem;
  font-family: "Catamaran", san-serif;
  line-height: 1.2;
  color: #7b7b7b;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}
/*Header*/
header {
  display: flex;
  position: fixed;
  background-color: white;
  border-bottom: 2px solid black;
  max-width: 1200px;
  width: 100%;
  height: 4rem;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
  }

div.logo {
  display: flex;
  align-items: center;

 }
.logo img {
  width: 70px;
  height: 60px;
  padding-left: 1.5rem;

 }
.company-name span:first-child{
  font-family: 'Ubuntu 700', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 2rem;
 }

 .company-name span:last-child{
   font-family: 'Ubuntu 400', sans-serif;
   color: grey;
   font-size: 2rem;
  }

nav ul {
  padding-right: 1.5rem;
}

nav ul li {
  font-family: "Catamaran", serif;
  display: inline-block;
  padding-left: 1rem;
 }

nav ul li a{
    color: black;
    text-decoration: none;
  }

  header.mobile-menu {
    display: none;
  }

  @media only screen and (max-width: 768px) {
  header.mobile-menu {
    display: flex;
    justify-content: space-around;
  }
  header {
    display: none;
  }
}

/*SECTION*/
/*Section One*/
.section {
  display: flex;
  max-width: 75rem;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.section-one {
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  max-width: 75rem;
  padding: 2rem 1.5rem;
}

.one-left {
  width: 60%;
}

.one-left img {
  width: 100%;

}
.one-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.one-right-text {
  margin: 0 2rem 0 1.5rem;
}

.one-right h1 {

  padding-bottom: 2.5rem;
  line-height: 3rem;
}

.one-right h2 {
  padding-bottom: 2.5rem;
  line-height: 1.75rem;
}

.one-right .button {
 background-color: #4A4A4A;
 padding: 0.5rem 8rem;
 text-align: center;
 display: block;
}

.button:hover {
  background-color: red;
  transition: background-color 300ms linear 100ms;
}

.one-right .button span {
  font-family: 'Catamaran', serif;
  font-size: 1.125rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  .section-one {
    flex-direction: column;
    padding: 0 0 2rem 0;
  }
  .one-left {
    margin: 0;
    width: 100%;
  }
  .one-right {
    width: auto;
    }

  .one-right-text {
    margin: 2rem 1rem 0 1rem;
    }

  .one-right-text h1 {
    font-size: 2rem;
    line-height: 1.2;
    padding-bottom: 2rem;
  }

  .one-right-text h2 {
    padding-bottom: 1.5rem;
  }
}

/*Section Two*/
.section-two {
  background-color: #ffffff;
  display: flex;
}

/*Section Two Left*/
.section-two-left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.two-left-image img {
 width: 100%;
}

.two-left-text h1 {
  padding: 1.5rem 0;
}

.two-left-text p {
  padding-bottom: 1.5rem;
}

.two-left-text span {
  font-family: "Catamaran", serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: #4a4a4a;
}

/*Section Two Right*/
.section-two-right {
 width: 40%;
 padding: 1rem 0;
 border-left: 1px solid #d8d8d8;
}

.two-right-block {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.two-right-block:first-child {
  border-bottom: 0.25rem solid #d8d8d8;
}
.two-right-block:last-child {
  background-color: #d8d8d8;
}

.two-block-image {
  width: 35%;
  height: auto;
}

.two-block-image img {
  width: 100%;
}

.two-block-text {
  padding-left: 1rem;
  width: 65%;
}
.two-block-text p {
  padding: 1rem 0;
}

.two-block-text a {
  font-size: 1rem;
  font-family: "Catamaran", san-serif;
  color: #6CCFF6;
  text-decoration: none;
}

.two-block-text a:hover {
  font-weight: bold;
  font-size: 1.25rem;
}

.fa-play {
  color: #7b7b7b;
}

img.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .section-two-left {
    display: none;
  }

  .section-two-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  .two-right-block {
   flex-direction: column;
  }

  .two-block-image {
    width: 100%;
  }
  .two-block-image img {
   display: none;
  }
  img.mobile {
    display: block;
  }
  .two-block-text {
    padding: 1rem;
    width: 100%;
  }
}
  /*Section Three*/
.section-three {
background-color: #d8d8d8;
}

.section-three h1,
.section-four h1
 {
  text-align: center;
  padding-top: 2rem;
}

.three-main-container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin: 1rem 3.5rem;
}

.three-program-block {
  width: 29.5%;
  overflow: hidden;
  background-color: white;
  margin: 1rem 1rem 2rem 1rem;
}

.three-program-block img {
 height: auto;
 width: 100%;
}

.three-block-text {
  background-color: white;
  padding-top: 1rem;
  height: 100%;
  padding: 1rem 1rem 1.5rem 1rem;
}

.three-block-text h3:hover {
  text-decoration: underline;
}


.three-block-text-p p:first-child {
  padding: 1rem 0;
}

.three-program-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .section-three {
  background-color: #ffffff;
  }

  .three-main-container {
    margin: 1rem;
  }
  .three-program-block {
    display: none;
  }

  .three-program-mobile {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    background-color: #d8d8d8;
    padding: 1rem 0 1.5rem 1rem;
    vertical-align: middle;
  }
}

  /*Section Four*/
.section-four {
  background-color: #ffffff;
}

.four-main-container {
  display: flex;
  margin: 2rem 0;
}

.section-four-left {
  width: 60%;
  margin: 0 1.5rem;
}

.four-left-image video {
  width: 100%;
  padding-bottom: 1.5rem;
}

.four-left-text p{
  padding-top: 1rem;
}

.section-four-right {
  display:flex;
  flex-direction: column;
  width: 40%;
}

.four-right-block {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.four-right-block:last-child {
  background-color: #d8d8d8;
}

.four-block-image {
  width: 35%;
}

.four-block-image img {
  width: 100%;
}

.four-block-text {
  width: 65%;
  padding-left: 1rem;
}
.four-block-text p {
  padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
  .four-main-container {
    margin: 1rem 0 1.5rem 0;
  }

  .section-four-right {
    display: none;
  }
  .four-left-text {
    display: none;
  }
  .section-four-left {
    width: 100%;
  }
}

  /*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  border-top: 0.125rem solid #d8d8d8;
  padding: 1rem;
}

.footer-info span {
  font-family: "Catamaran", serif;
  padding-left: 1.5rem;
  color: #7b7b7b;
  font-size: 0.875rem;
}

.footer-nav ul li a {
  color: #7b7b7b;
  font-size: 0.875rem;
}

@media only screen and (max-width: 768px) {
  footer {
    border: none;
  }

  .footer-nav {
    display: none;
  }
}
